<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        width: 100%;
      }
      img {
          width: 100%;
      }
      td.image {
        width: 300px;
      }
    </style>
    <title>DooM info</title>
  </head>
  <script src="https://unpkg.com/vue"></script>
  <body>
    <center><h1>DooM Info</h1></center>
    <p>
      <div id='app'>
        <div v-for="column in columns">
          <center><h2>{{ column.name }}</h2></center>
          <div v-for="card in column.cards">
            <p>
              <table border="1">
                <tr>
                  <td rowspan="2" class="image">
                    <img :src="card.image">
                  </td>
                  <td>
                    <center><h3>{{ card.name }}</h3></center>
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ card.desc }}
                  </td>
                </tr>
              </table>
            </p>
          </div>
        </div>
      </div>
    </p>
  </body>

  <script type="text/javascript">
    function httpGet(theUrl)
    {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "GET", theUrl, false );
        xmlHttp.send( null );
        return JSON.parse(xmlHttp.responseText);
    }

    var cards = httpGet('https://api.trello.com/1/boards/RuyMGJ9R/cards');
    var columns = httpGet('https://api.trello.com/1/boards/RuyMGJ9R/lists');

    cards.forEach(function(card) {
      var attachment = httpGet('https://api.trello.com/1/cards/'+ card.id +'/attachments/'+ card.idAttachmentCover)
        card.image = attachment.url
    });

    columns.forEach(function(column){
      column.cards = []
      cards.forEach(function(card){
        if(card.idList === column.id){
          column.cards.push(card)
        }
      });
    });

    new Vue({
      el: '#app',
      data: {
        columns: columns
      }
    })
  </script>
</html>